*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;    
}

html {
    scroll-behavior: smooth;
    background-color:  #2B1E32;
}

label
{
 color: #E8B045;
}

.modalLabel {
 color: #E8B045;
 margin-top: 1em; 
}
#registerResult, #loginResult
{
    color: white;
    text-align: left;
}

#navbar{
    min-width: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 0%;
    left: 0%;
    background-color:  #2B1E32;
}

#createAccount
{
    color:#E8B045;
    margin-bottom: 5px;
    margin-right: 7px;
}

#createAccount:hover
{
    color: #c6c7cd;
}


#register
{
    color: white;
    font-weight: bold;
    
}
#add_contact, #logout  
{
    
    background-color: #2B1E32;
    border-color: #0e0f11;
    color: #E8B045;

}
#add_contact:hover, #logout:hover
{
    
    color: #c6c7cd;
    background-color: #2B1E32;
    border-color: #0e0f11;
    box-shadow: 0px 0px 1px 1px #000000;

}

#create:hover
{
    color: #bdadb7;
}
#search_bar
{
    background-color: #5B3174;
    border-color: #0e0f11;
    color: #E8B045;
    box-shadow: 0px 0px 10px 1px #000000;
    
}
#search_bar:focus
{
    color: #E8B045;
    background-color: #2B1E32;
    border-color: #0e0f11;
    box-shadow: 0px 0px 10px 1px #000000;
}
#search_btn
{
    background-color: #2B1E32;
    border-color: #0e0f11;
    color: #E8B045;

}
#search_btn:focus
{
    color: #c6c7cd;
    background-color: #2B1E32;
    border-color: #0e0f11;
    
}
#search_btn:hover
{
    color: #c6c7cd;
    background-color: #2B1E32;
    border-color: #0e0f11;
    box-shadow: 0px 0px 1px 1px #000000;
    
}
.bg-green
{
    background-color: #2B1E32;
}
.bg-orange
{
    background-color: #E8B045;
}
.bg-pink
{
 background-color: #E8B045;
 /*#aa0a72*/
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #5B3174;
    background-clip: border-box;

    /*border-radius: 0.55rem;*/
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;


    
}
.card-body
{
    flex: 1 1 auto;
    padding: 3rem;
}

.card-header
{
    background-color: #5B3174;
    border-color: #2B1E32;
    border-width: 5px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.2rem + 0.0625rem);
    padding: 0.6rem 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    background-clip: padding-box;
    border-radius: 0.55rem;
    color: #E8B045;
    background-color: #2B1E32;
    border-color: #0e0f11;
    outline: 0;

    transition: all 0.3s ease-in-out;
    
   
}
.form-control::placeholder  
{
    color: #5B3174 !important;
    opacity: 1;
}
.form-control:focus {
    color: #c6c7cd;
    background-color: #2B1E32;
    border-color: #0e0f11;
    box-shadow: 0px 0px 10px 1px #000000;
}
.btn 
{
    color:  #5B3174;
}
.btn-success
{
    color:#E8B045;
}

.btn-close
{
    background-color: #E8B045 !important;
}

.btn:hover {
    color: #c6c7cd;
    text-decoration: none;
    
}
.btn-primary {
    color: #E8B045 !important;
    background-color: #5B3174 !important;
    border-color: #0e0f11 !important;
    box-shadow: 0px 0px 10px 1px #000000;
}

.btn-primary:hover {
    color: #c6c7cd !important;
    background-color: #2B1E32 !important;
    border-color: #0e0f11 !important;
    box-shadow: 0px 0px 1px 1px #000000;
}
.btn-primary:active
{
    color: #E8B045  !important;

}

.btn-secondary {
    color: #E8B045 !important;
    background-color: #2B1E32 !important;
    border-color: #0e0f11 !important;
    box-shadow: 0px 0px 10px 1px #000000;
}

.btn-secondary:hover {
    color: #c6c7cd !important;
    background-color: #5B3174 !important;
    border-color: #0e0f11 !important;
    box-shadow: 0px 0px 1px 1px #000000;
}
.btn-secondary:active
{
    color: #E8B045  !important;
}


.shadow-soft 
{
    box-shadow: 0px 0px 50px 10px #000000;
}

.shadow-inset 
{
    box-shadow: 0px 0px 50px 10px #000000 !important;
}

.input-group-text 
{
    display: flex;
    align-items: center;
    padding: 0.6rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #E8B045 !important;
    text-align: center;
    white-space: nowrap;
    background-color: #e6e7ee;
    border: 0.0625rem solid #D1D9E6;
    border-radius: 0.55rem;
   
}

.h4 /*header*/
{
    background: #E8B045;
    -webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 4rem;
}
.customRow
{
    
    height: 400px;
}
.customRow2
{
    /*background-color:aliceblue;*/
    height: 400px;
}
#first_name, #last_name, #reg_login, #reg_password, #name, #phone, #email, #editName, #editPhone, #editEmail
{
    color: #E8B045;
    background-color: #2B1E32;
    border-color: #0e0f11;
    border-width: 0.1rem;
    /*changes shape of input*/
    /*border-radius: 5rem*/
    
}
#first_name:hover, #last_name:hover, #reg_login:hover, #reg_password:hover, #name:hover, #phone:hover, #email:hover, #editName:hover, #editPhone:hover, #editEmail:hover
{
    color: #E8B045;
    background-color: #2B1E32;
    border-color: #0e0f11;
    box-shadow: 0px 0px 10px 1px #000000;
}
.modal
{
    overflow: hidden;
}

.modal-content
{
    border-radius: 3px !important;
    border-color: #E8B045 !important;
}

.modal-body
{
    background-color: #5B3174 !important;
}

.modal-dialog
{
    margin-right: 50;
    margin-left: 50;
}
.modal-header
{      /* not necessary but imo important for user */
    background-color: #2B1E32 !important;
    cursor: move;
    color: #E8B045 !important;
}

.modal-footer
{      /* not necessary but imo important for user */
    background-color: #2B1E32 !important;
}

#spinner 
{ visibility:hidden; } 

#contact_title{
    font-size: 3rem;
}

table, tr {
    width: 100%;
}

.table_button_class{
    text-align: center;
    width: 6.5%;
    font-size: 1rem;
    border: 1px solid black;
}


.table_button_class:hover{
    color: #c6c7cd !important;
    
}

.table_data{
    font-size: 1.5rem;
    width: 29%;
    border: 1px solid black;
    padding-left: 1%;
    color: #E8B045 !important;
}

/*table bootstrap stuff*/
.table td
{
    color: #E8B045;
    word-break: break-word;
}

.table-bordered td, .table-bordered th 
{
    border: 2px solid black !important;
}
/*table bootstrap stuff end*/


.table_header{
    font-size: 1.2rem;
    width: 29%;
    border: 1px solid black;
    padding-left: 1%;
}

.table_header_button{
    text-align: center;
    font-size: 1.2rem;
    width: 6.5%;
    border: 1px solid black;
}

#logo{
    float: left;
    font-size: 3rem;
}

#main_content{
    width: 100%;
    padding: 50px;
    height: auto;
    background-color: #5B3174;
    color: #E8B045;
}

ion-icon {
    font-size: 36px;
}

#properties {
    color: #E8B045;
    background-color: #5B3174;
    border-color: #0e0f11 !important;
    box-shadow: 0px 0px 10px 1px #000000;
    border-radius: 0.55rem;
}

#properties:hover{
    color: #c6c7cd;
    background-color: #2B1E32;
}

#properties:active{
    color: #E8B045;
    background-color: #5B3174;
}

#recently_added_title{
    display: none;
}

.recent_added_cell{
    color: white !important;
    font-size: large !important;

}
